// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { 
        proportion 0.5
    }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    focus-ring {
        width 4

        //active-color "#262b26"
        inactive-color "#505050"
        active-gradient from="#38213f" to="#262b26"  angle=45
    }


    shadow {
        on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //draw-behind-window true

        softness 30             // Softness controls the shadow blur radius.
        spread 5                // Spread expands the shadow.
        offset x=0 y=5          // Offset moves the shadow relative to the window.
        color "#0007"           // You can also change the shadow color and opacity.

    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

